
@{
    ViewBag.Title = "Home";
}

<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/carrosel_corona.png');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/carrosel_corona7.jpg');"></div>
            <div class="carousel-caption">
                <font color="#00BFFF" size="30" face="Cinzel"> Utilizamos algumas informações no site Governo Federal, <a href="https://coronavirus.saude.gov.br" target="_blank">clique para saber mais</a></font>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/carrosel_corona8.jpg');"></div>
            <div class="carousel-caption">
            <font color="#00BFFF" size="30" face="Cinzel"> Veja os gráficos e os mapas no site do <a href="https://covid.saude.gov.br" target="_blank">Governo Federal</a></font>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Bom, o que devo saber?</h3>
                <h4>Os Principais Sintomas</h4>
                <p>Os sintomas da COVID-19 podem variar de um simples resfriado até uma pneumonia severa.</p>
                <p>Sendo os sintomas mais comuns:</p>
                <p>- Tosse;</p><p>- Febre;</p> <p>- Coriza;</p> <p>- Dor de garganta;</p> <p>- Dificuldade para respirar.</p>
                <h4>Como é transmitido</h4>
                <p>A transmissão acontece de uma pessoa doente para outra ou por contato próximo por meio de:</p>
                <p>- Toque do aperto de mão;</p><p>- Gotículas de saliva;</p><p>- Espirro;</p><p>- Tosse;</p><p>- Catarro;</p><p>- Objetos ou superfícies contaminadas, como celulares, mesas, maçanetas, brinquedos, teclados de computador etc.</p>
                <br /><font size="2" face="Arial"><b>TODAS AS INFORMAÇÕES FORAM TIRADAS DO SITE <a href="https://coronavirus.saude.gov.br" target="_blank">GOVERNO FEDERAL</a></b></font>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Como se Proteger</h3>
                <h4>As recomendações de prevenção à COVID-19 são as seguintes:</h4>
                <p>- Lave com frequência as mãos até a altura dos punhos, com água e sabão, ou então higienize com álcool em gel 70%;</p>
                <p>- Ao tossir ou espirrar, cubra nariz e boca com lenço ou com o braço, e não com as mãos;</p>
                <p>- Evite tocar olhos, nariz e boca com as mãos não lavadas;</p>
                <p>- Ao tocar, lave sempre as mãos como já indicado;</p>
                <p>- Mantenha uma distância mínima de cerca de 2 metros de qualquer pessoa tossindo ou espirrando;</p>
                <p>- Evite abraços, beijos e apertos de mãos. Adote um comportamento amigável sem contato físico, mas sempre com um sorriso no rosto;</p>
                <p>- Higienize com frequência o celular e os brinquedos das crianças;</p>
                <p>- Não compartilhe objetos de uso pessoal, como talheres, toalhas, pratos e copos;</p>
                <p>- Mantenha os ambientes limpos e bem ventilados;</p>
                <p>- Evite circulação desnecessária nas ruas, estádios, teatros, shoppings, shows, cinemas e igrejas. Se puder, fique em casa;</p>
                <p>- Se estiver doente, evite contato físico com outras pessoas, principalmente idosos e doentes crônicos, e fique em casa até melhorar;</p>
                <p>- Durma bem e tenha uma alimentação saudável;</p>
                <p>- Utilize máscaras caseiras ou artesanais feitas de tecido em situações de saída de sua residência.</p>
                <br /> <font size="2" face="Arial"><b>TODAS AS INFORMAÇÕES FORAM TIRADAS DO SITE <a href="https://coronavirus.saude.gov.br" target="_blank">GOVERNO FEDERAL</a></b></font>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Dúvidas</h3>
                <h4>Referente a máscaras:</h4>
                <p>Bom, se você já viu alguma coisa sobre médicos, já deve saber que usar máscara por mais de 4 horas é prejudicial à saúde!, quer saber porque?, entre neste <a href="https://www.fiocruzbrasilia.fiocruz.br/covid-19-orientacoes-sobre-o-uso-de-mascaras-de-protecao/" target="_blank">link</a> para saber mais.</p>
                <font color="#00BFFF" size="6" face="Cinzel"> Vamos combater o Corona!</font>
                <br />
                <img src="/luta_corona.jpg" width="400" height="200"/>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>TGI - Corona virus &amp; Grupo ELL</h2>
                <p>Este site foi produzido pelo grupo ELL para o nosso TGI sobre corona virus.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <hr />
            <div>
                <h2>
                    <li id="1columnportfolio">
                        @Html.ActionLink("Dicas", "Home1", "Blog")
                    </li>
                    <h3>Veja a nossa Página de Dicas para saber como fazer coisas em casa nesta pandemia</h3>
                </h2>
            </div>
            <hr />
            <div>
                <h2>
                    <li id="2columnportfolio">
                        @Html.ActionLink("Redirecionamentos", "Index", "Services")
                    </li>
                    <h3>Veja a nossa Página de Redirecionamentos para saber o que fazer nesta pandemia</h3>
                </h2>
            </div>
            <hr />
            <div>
                <h2>
                    <li id="contact">
                        @Html.ActionLink("Notícias", "Index", "Contact")
                    </li>
                    <h3>Veja a nossa Página de notícias para saber mais</h3>
                </h2>
            </div>
            <hr />
            <div>
                <h2>
                    <li id="grafic">
                        @Html.ActionLink("Gráfico", "Index", "")
                    </li>
                    <h3>Veja a nossa Página do Gráfico para ver o gráfico que temos!</h3>
                </h2>
            </div>
            <hr />
            <div>
                <h2>
                    <li id="about">
                        @Html.ActionLink("Sobre", "Index", "About")
                    </li>
                    <h3>Veja a nossa Página Sobre para saber mais do nosso grupo.</h3>
                </h2>
            </div>
            <hr />
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h2>Faça uma auto-avaliação, instale o App Oficial do Ministério da Saúde</h2>
                <P>O Ministério da Saúde lança o app Coronavírus-SUS com o objetivo de conscientizar a população sobre o Corona Vírus COVID-19, para isso o aplicativo conta com as seguintes funcionalidades</P>
                <ul>
                    <li>Saiba das últimas notícias;</li>
                    <li>Mapa indicando unidades de saúde próximas;</li>
                    <li>Informativos de diversos tópicos como os sintomas, como se prevenir, o que fazer em caso de suspeita e infecção e etc;</li>
                    <li>Em caso de suspeita de infecção, o cidadão pode conferir se os sintomas são compatíveis com o do Corona, e caso seja será instruído e encaminhado para a unidade de saúde básica mais próxima</li>
                    <li>Área de notícias oficial do Ministério da Saúde com foco no Coronavírus.</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img class="img-responsive" src="https://covid.saude.gov.br/assets/imgs/img-cel-app.svg">
            </div>
        </div>
        <!-- /.row -->
        <hr />

        <div class="row well">
            <div class="col-lg-6 col-md-8">
                <h4>App disponíveis nas seguintes plataformas</h4>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href='https://play.google.com/store/apps/details?id=br.gov.datasus.guardioes&hl=pt-br&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
                    <img alt='Disponível no Google Play' src='https://play.google.com/intl/pt-BR/badges/static/images/badges/pt-br_badge_web_generic.png' class="img-responsive img-customer" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href='https://apps.apple.com/br/app/coronav%C3%ADrus-sus/id1408008382' target="_blank">
                    <img alt='Disponível no Google Play' src='https://www.barbosasupermercados.com.br/wp-content/uploads/2020/01/baixar-apple-app-1.png' class="img-responsive img-customer" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href='https://coronavirus-app.saude.gov.br/' target="_blank">
                    <img alt='Disponível no Google Play' src='http://s.glbimg.com/po/tt/f/original/2011/08/25/navegadores-tech.jpg' class="img-responsive img-customer" />
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
    <!-- /.section-colored -->
<!-- /.container -->